# Node / Frontend dependencies
node_modules/
dist/
dist-ssr/
*.local

# Python / Backend dependencies
.venv/
venv/
ENV/
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.mypy_cache/

# OS / Editor files
.DS_Store
Thumbs.db
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

.vercel
